::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

* {
    font-family: 'Segue UI', sans-serif;
}

.hide {
    display: none !important;
}

body {
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.controls-cont {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #111;
    margin: auto 0;
}

.console {
    display: inline-block;
    align-items: left;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    height: 15vh;
    width: 100%;
    font-size: 14px;
    line-height: 10px;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
}

.button {
    cursor: pointer;
    font-weight: 500;
}

.btn-black {
    padding: 8px 16px;
    background-color: #111;
    color: #fff !important;
    border-radius: 15px;
}

.group {
    width: 10%;
    justify-content: space-around;
    display: flex;
    width: 20%;
}

.value {
    display: inline-block;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.dash {
    background-color: #FFF;
    height: 100vh;
    display: flex;
}

.container {
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.field {
    margin: auto;
    border: 1px solid #111;
    background-color: #111;
}

.cell {
    display: inline-block;
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    padding: 0;
    color: #ffffff;
}

.innercell {
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
}

.start {
    color: #ff4713;
}

.finish {
    color: #ff4713;
}

.black {
    background-color: #111;
    color: #111;
}

.grey {
    color: #000;
}

.yellow {
    background-color: #ff461370 !important;
}

.disabled {
    color: rgb(163, 163, 163);
    cursor: auto;
}

.btn-disabled {
    background-color: #ff4713 !important;
}

.left {
    justify-content: left !important;
}

.right {
    justify-content: right !important;
}

.center {
    justify-content: center;
}