#loader-1:before,
#loader-1:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 5px solid transparent;
    border-top-color: #ff4713;
}

#loader-1:before {
    z-index: 100;
    animation: spin 1s infinite;
}

#loader-1:after {
    border: 5px solid transparent;
}

.loader {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
    transition: all .1s ease;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    80% {
        transform: scale(1);
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

button,
input[type='submit'],
input[type='reset'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.button:active {
    opacity: 0.8;
}

.poster-button:active {
    opacity: 0.8;
}

* {
    text-decoration: none;
}

.hide {
    display: none !important;
}

body {
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.controls-cont {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Roboto Slab', sans-serif;
    min-height: 140px;
    padding: 32px 0;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #111;
    margin: auto 0;
    height: 60px;
}

.console {
    display: inline-block;
    align-items: left;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    height: 15vh;
    width: 100%;
    font-size: 14px;
    line-height: 10px;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
}

.button {
    cursor: pointer;
    font-weight: 500;
    transition: all .1s ease;
}

.btn-black {
    background-color: #111;
    color: #fff !important;
    border-radius: 15px;
    padding: 8px 16px;
}

.group {
    justify-content: space-around;
    display: flex;
    width: 20%;
}

.loader-cont {
    display: inline-block;
    height: 37px;
}

.value {
    display: inline-block;
    padding: 8px 16px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.dash {
    background-color: #fff;
    height: 100vh;
    display: flex;
}

.container {
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.field {
    border: 1px solid #111;
    background-color: #111;
}

.cell {
    display: inline-block;
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    padding: 0;
    color: #ffffff;
}

.innercell {
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
}

.controls-info {
    display: flex;
    height: 20px;
    justify-content: left;
    align-items: center;
    margin: 8px 0;
}

.info-text {
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    margin-right: 25px;
}

.info-item {
    border: 1px solid #111;
}

.info-cell {
    display: inline-block;
    height: 18px;
    width: 18px;
    padding: 0;
}

.hint-text {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.start {
    color: #ff4713;
}

.finish {
    color: #ff4713;
}

.black {
    background-color: #111;
    color: #111;
}

.white {
    color: #fff;
}

.grey {
    color: #000;
    animation-fill-mode: backwards;
    animation-name: bounce;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

.yellow {
    background-color: #ff461370;
}

.path-found {
    color: #000;
    background-color: #ff461370;
}

.disabled {
    color: #ccc;
    cursor: auto;
}

.block {
    display: block;
}

.btn-disabled {
    background-color: #ccc !important;
}

.left {
    justify-content: left !important;
}

.right {
    justify-content: right !important;
}

.center {
    justify-content: center;
}


/* Poster */

.poster-cont {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster {
    display: flex;
    flex-direction: column;
    height: 60vh;
    min-width: 600px;
    max-width: 600px;
    max-height: 800px;
    min-height: 400px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.poster-content{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 90%;
    align-items: center;
    margin: auto 0;
}

.poster-heading {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 2.5% 0;
}

.poster-title {
    font-weight: 500;
    font-size: 22px;
}

.poster-number {
    font-size: 16px;
}

.poster-body {
    font-size: 14px;
    font-weight: 400;
}

.poster-img-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster-img {
    height: 60px;
}

.poster-nav {
    display: flex;
    height: 10%;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
}

.poster-nav-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.poster-button {
    background-color: #111;
    color: #fff !important;
    border-radius: 5px;
    padding: 8px 16px;
    margin: 16px 8px;
    font-size: 15px;
}

.poster-button:hover {
    cursor: pointer;
}



@media only screen and (max-width: 660px) {
    .controls-info {
        display: none;
    }

    .mobile-hide {
        display: none;
    }
}
